<!DOCTYPE html>
<html>
<head>
  <title>Banco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
</br>

<div class="container-fluid">
  <%= yield %>
</div>

<div class="container-fluid">
  <hr>
  <%= link_to "Home", root_path %>
  &nbsp;
  <%= link_to "Sign Out", sign_out_path if current_user %>
  &nbsp;
  <small>(c) 2015, Microsoft User Group Argentina</small>
</div>
</body>
</html>
